# SPDX-License-Identifier: AGPL-3.0-or-later
# Copyright © 2021 Pablo Hörtner <redtux@pm.me>
#
# Git normalization
# See https://git-scm.com/docs/gitattributes

# Define text file attributes
# - Treat them as text
# - Ensure no CRLF line-endings; neither on checkout nor on checkin
# - Detect whitespace errors
#   - Exposed by default in `git diff --color` on the CLI
#   - Validate with `git diff --check`
#   - Deny applying with `git apply --whitespace=error-all`
#   - Fix automatically with `git apply --whitespace=fix`

# Override Linguist stats for external libs
assets/fonts/*                        linguist-vendored
assets/js/main.min.js                 linguist-vendored
assets/js/lunr/*                      linguist-vendored
assets/js/plugins/*                   linguist-vendored
assets/js/vendor/*                    linguist-vendored
_sass/redtux-jekyll-theme/vendor/*    linguist-vendored

# Enforce LF newlines
*.css   text eol=lf
*.html  text eol=lf diff=html
*.js    text eol=lf
*.json  text eol=lf
*.less  text eol=lf
*.md    text eol=lf
*.scss  text eol=lf diff=css
*.sh    text eol=lf
*.toml  text eol=lf
*.xml   text eol=lf
*.yml   text eol=lf

# Auto detect text files and perform LF normalization
* text=auto

# Configs
*.config          text
.editorconfig     text
.gitattributes    text
.gitconfig        text
*.lock            text -diff
package-lock.json text -diff

# Define binary file attributes
# - These files are binary and should be left untouched
# - Include binary diff in patches instead of "binary files differ"
# (binary is a macro for -text -diff)

# Archives
*.7z    binary
*.gz    binary
*.zip   binary

# Audio & Video
*.fla   binary
*.flv   binary
*.mov   binary
*.mp3   binary
*.mp4   binary
*.ogg   binary
*.ogv   binary
*.swf   binary
*.webm  binary

# Graphics
*.eps   binary
*.gif   binary
*.ico   binary
*.jpeg  binary
*.jpg   binary
*.pdf   binary
*.png   binary
*.tif   binary
*.tiff  binary
*.webp  binary

# SVG is treated as an asset (binary) by default
*.svg   binary

# Fonts
*.eot   binary
*.otf   binary
*.ttf   binary
*.woff  binary

# Files and dirs to exclude when running git-archive
/.editorconfig export-ignore
/.gitattributes export-ignore
